<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>

    <hr>
    <section>
      <h2>/api/resources/upload-images/</h2>
      <form
        method="POST"
        enctype="multipart/form-data"
        action="/api/resources/upload-images/5ecbcfa2-5ac8-4913-9f8c-54487aaf42ad/">
        <input type="file" name="thumbnail"></input>
        <input type="file" name="marker"></input>
        <input type="submit"></input>
      </form>
    </section>
    <hr>
    <section>
      <h2>/api/resources/</h2>
      <form
        method="POST"
        action="/api/resources/">
        <p>
        <label for="name">name</label><input type="text" name="name"></input>
        </p>
        <p>
        <label for="facebookId">facebookId</label><input type="text" name="facebookId"></input>
        </p>
        <p>
        <label for="instagramId">instagramId</label><input type="text" name="instagramId"></input>
        </p>
        <p>
        <label for="twitterName">twitterName</label><input type="text" name="twitterName"></input>
        </p>
        <p>
        <label for="url">url</label><input type="text" name="url"></input>
        </p>
        <p>
        <label for="lineId">lineId</label><input type="text" name="lineId"></input>
        </p>
        <p>
        <input type="submit"></input>
        </p>
      </form>
    </section>
  </body>
</html>
